@import "./reset.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;

  header {
    width: 1280px;
    background-color: greenyellow;

    .header_lang {
      background-color: tomato;
      display: flex;
      justify-content: end;
    }

    .header_bottom {
      display: flex;
      justify-content: space-between;

    }

    .logo {}

    .gnb {

      background-color: yellow;
      display: flex;
      justify-content: space-between;
    }
  }

  main {
    .visula_1 {}
  }

  footer {
    background-color: rgb(195, 151, 195);

  }
}