$white: #FFF;
$gray: #808180;
$lightblack: #343434;
$blue: #2c98e8;
$sky: #a3d4f9;

@import "./reset.scss";

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/arial-2');

.arial {
  font-family: 'Arial';
}


// select {
//   font-family: 'NanumSquareRound', sans-serif;
// }

// .visual {
//   font-family: 'NanumSquareRound', sans-serif;
// }





* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'NanumSquareRound', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1280px;

  header {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header_lang {
      display: flex;
      justify-content: end;
      gap: 13px;
    }

    .header_menu {
      display: flex;
      justify-content: space-between;
    }

    .logo {
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .gnb {
      font-size: 26px;
      font-weight: 700;
      display: flex;
      align-items: center;
      padding-right: 13px;
      text-align: center;

      .gnb_li {
        position: relative;
        width: 148px;
        height: 82px;

        >a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 82px;
        }

        .lnb {
          display: none;
          position: absolute;
          top: 82px;
          font-size: 16px;
          flex-direction: column;
          background-color: $blue;
          color: $sky;
          width: 100%;

          li {
            padding: 10px 0;
            // width: 100%;

            a {
              display: block;
            }
          }

          li:last-child {
            padding-bottom: 20px;
          }
        }
      }

      .gnb-li:hover {
        background: $blue url(../images/border_line.png) no-repeat;
        background-position: 50% 100%;
        color: #FFD700;
      }

      li:hover {
        color: #FFD700;
      }

      .hamburger {
        padding-left: 70px;
      }
    }
  }

  main {
    .visula_safer {}

    .visual_news {
      background-color: red;
      // height: 350px;

      .title_text {
        h2 {
          font-size: 45px;
          font-weight: 700;
        }

        .arial {
          // font-size: 45px;
          // font-weight: 700;
        }

        p {
          font-size: 22px;
        }
      }

      .room_box {
        display: flex;
        gap: 13px;

        .box {
          background-color: $white;
          width: 432px;
          border-radius: 25px;
          padding: 35px;

          .top_text {
            display: flex;
            justify-content: space-between;
            font-size: 20px;

            img {
              width: 21px;
              height: 21px;
            }
          }
        }

        .full_box {
          height: 350px;
        }

        ul {
          display: flex;
          flex-direction: column;

          li {
            height: 169px;

          }
        }
      }

    }
  }

}

footer {
  .footer_top {
    background-color: #373737;
    height: 100px;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
    }

    .terms {
      font-size: 15px;

      li:nth-child(1),
      :nth-child(2) {
        border-right: 1px solid $gray;
      }

      li {
        padding: 0 20px;
        color: $white;
      }
    }

    .count_sns {
      display: flex;
      color: $white;
      font-size: 16px;
      gap: 30px;

      .count {

        gap: 3px;

        li:nth-child(1) {
          padding-right: 10px;

        }

        :nth-child(2) {
          letter-spacing: -1px;
        }

        span {
          font-size: 24px;
          font-weight: bold;
          color: #fdaf39;
        }
      }

      .sns {
        gap: 10px;
      }
    }
  }

  .footer_bottom {
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    .footer_logo {
      img {
        width: 194px;
        height: 44px;
      }
    }

    .add_copy {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      padding-right: 220px;
      gap: 5px;
      letter-spacing: -1px;
      color: $lightblack;

      .copy {
        span {
          color: $gray;
          font-size: 13px;
        }
      }
    }

    .select {
      #select_box {
        font-size: 12px;
        width: 210px;
        height: 30px;
        color: $gray;
        border: .5px solid $gray;
        padding-left: 20px;
        appearance: none;
        background: url(../images/ft-arrow.png)no-repeat;
        background-position: 92% 50%;
      }
    }
  }
}